
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.head-container
{
    background-color: #2C3639;
    padding-top: 80px;
    position: relative;
    
}
.second-container
{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #3F4E4F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
}
.third-container
{
    background-color: #A27B5C;
    padding-top: 100px;
    padding-bottom: 100px ;
}
.last-container
{   
    background-color: #DCD7C9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
    
}
.pro
{
    text-decoration: underline;
}
h1
{
    color: #f6eeee;
    font-size: 100px;
}
h2
{
    color: #A27B5C;
    font-size: 34px;
    font-weight: normal;
}
.open-text
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.icons
{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    margin-left: 100px;
    margin-right: 100px;
}
.info
{
    width: 700px;
    text-align: center;
    line-height: 2;
    font-size: 24px;
}
.contact-text
{
    width: 700px;
    text-align: center;
    line-height: 2;
    font-size: 24px;
    font-weight: 1000px;
}
.parent-grid
{
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    grid-template-rows: repeat(1,1fr);
    width: 50%;
    margin: 100px auto 0 auto;
    row-gap: 2rem;
}
.links
{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.links a
{
    text-decoration: none;    
    color: #DCD7C9;
}
.footer
{
    height: 100px;
    width: 100%;
    background-color: #2C3639;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
