<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/global.css">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/query.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Sacramento&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@300&display=swap" rel="stylesheet">
    <title>Anıl Sezgin</title>
</head>
<body>
    <div class="head-container">
        <div class="open-text">
            <h1 class="font-sacramento">I'm Anıl.</h1>
            <h2 class="font-breeserif">a <span class="pro">pro</span>grammer.</h2>
        </div>
        

        <div class="icons">
            <img class="px240" src="./images/hamburgerIcon.png" alt="burgerIcon">
            <img class="px240" src="./images/codeLogo.png" alt="codeIcon">
            <img class="px240" src="./images/spotifyLogo.png" alt="spotifyIcon">
        </div>        
    </div>

    <div class="second-container">
        <img class="image-icon" src="./images/anilProfile.jpg" alt="">
        <h2 class="font-breeserif">Hello.</h2>
        <p class="info font-notoserif p-color">
            I am a 3rd-year software engineering student at İstanbul Beykent University. 
            I am developing myself to become a Full-Stack developer. I love hamburgers and music.
        </p>
    </div>

    <div class="third-container">
        <h2 class="font-breeserif color-dcoffe text-center">My Skills</h2>

        <div class="parent-grid">
            
            <div class="coding-boy">
                <img class="width440" src="./images/codingDod.gif" alt="codingDog">
            </div>
            
            <div class="tech-skills">
                <h3 class="font-breeserif">Tech Skills and Goals</h3>
                <p class="font-notoserif p-color">I have knowledge of HTML, CSS, Bootstrap, and UI/UX. 
                    I have started a 365-day coding challenge on my Instagram blog account, 
                    and I am currently on day 32 while working on this website. 
                    In the remaining time of my challenge, I aim to acquire knowledge 
                    in various areas such as JavaScript, DOM, jQuery, Git, Node.js, 
                    Express.js, APIs, EJS, Databases, SQL, MongoDB, Mongoose, Authentication 
                    & Security, React.js, Blockchain, and many more. I will develop numerous 
                    projects to become a well-rounded Full-Stack developer.</p>
            </div>

            <div class="burgers">
                <img class="width440" src="./images/patrickBurger.gif" alt="patrickBurger">
            </div>

            <div class="fall-in-love">
                <h3 class="font-breeserif">Fall in Love?</h3>
                <p class="font-notoserif p-color">
                    But my best skill is actually in burgers. 
                    I am just like Patrick. 
                    I cant live without them. Oh, music should not be forgotten as well.
                </p>
            </div>
        </div>

    </div>

    <div class="last-container">
        <h2 class="font-breeserif color-dcoffe">Get In Touch</h2>
        <p class="font-breeserif color-dcoffe px2">If you love burgers as much as I do.</p>
        <p class="contact-text font-notoserif color-black">Love burgers, coding and music as much as I do? Let's talk about how awesome they are! 
            We can code while we eat burgers and listen The Weeknd!</p>
    </div>

    <div class="footer">
        <div class="links font-breeserif">
            <a href="https://twitter.com/anlsezgiin">Twitter</a>
            <a href="https://www.linkedin.com/in/anlsezgiin/">LinkedIn</a>
            <a href="https://www.instagram.com/dev_anko/">Instagram Blog</a>
        </div>
        <p class="p-color font-sacramento px2">© Anıl Sezgin</p>
    </div>
</body>
</html>